---
//import layout
import Mainlayout from './MainLayout.astro';
import BlogHeader from "../components/BlogHeader.astro";

const { frontmatter } = Astro.props;
const {title, description, date, category, author, image} = frontmatter;
---

<Mainlayout title={title} {description}>
  <div class="wrapper">
    <main class="entry-container">
      <BlogHeader 
        {title} {description} {date} {category} {author} {image}
      />
        <div class="entry">
          <slot />
        </div>
    </main>
    <aside class="aside">
      <div class="aside__content">
        <img class="aside__image" src="/images/aside-hero1.jpg" alt="">
        <div class="aside__text">
          <p class="aside__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, totam.</p>
          <a class="aside__link" href="/">Link to another blog post</a>
        </div>
      </div>
    </aside>
  </div>
</Mainlayout>

<style lang="scss">
 
  .wrapper {
    grid-template-columns: 1fr;
    padding: .8rem;
    @media (min-width:40em){
      grid-template-columns: 2fr 1fr;
    }
  }
  .header-blog{
    &__date,
    &__author {
      font-size: 1.1rem;
      font-weight: 600;
      color: hsl(150, 0%, 60%);
    }
  }
  .blog-image {
    aspect-ratio: 16/9;
    object-position: top;
    object-fit: cover;
  }
  .entry-container{
    padding: 1rem;
  }
  .aside{
    // grid-template-rows: repeat(5, 1fr);
    &__content,
    &__text {
      display: flex;
      gap: 1rem;
    }
    &__content{
      align-items: flex-start;
    }
    &__image{
      width: 12rem;
      object-fit: cover;
      object-position: bottom;
      aspect-ratio: 1;
    }
    &__text{
      flex-direction: column;
    }
    &__link{
      text-decoration: underline;
      color: hsl(188, 30%, 40%);
    }

  }

</style>
