---
//import layout
import Mainlayout from "./MainLayout.astro";
import BlogHeader from "../components/BlogHeader.astro";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<Mainlayout title={title} {description}>
  <div class="wrapper-blog">
    <main class="entry-container">
      <BlogHeader {title} {description} {date} {category} {author} {image} />
      <div class="entry">
        <slot />
      </div>
    </main>
    <aside class="aside">
      <h2 class="aside__h2">More posts</h2>
      <div class="aside__content">
        <img
          class="aside__image"
          src="/images/blog-images/job-blog.png"
          alt="Girls thinking"
        />
        <div class="aside__text">
          <p class="aside__p">How to get your first job as a web developer</p>
          <a class="aside__link" href="/blog/">Read the article</a>
        </div>
      </div>
    </aside>
  </div>
</Mainlayout>

<style lang="scss">
  .wrapper-blog,
  .aside,
  .aside__content,
  .aside__text {
    display: flex;
    gap: 1rem;
  }
  .wrapper-blog {
    flex-wrap: wrap;
    // margin: 5rem 0;
  }
  .entry-container {
    padding: 1em;
    flex-basis: 30em;
    flex-grow: 5;
  }
  .aside {
    flex-basis: 20em;
    flex-grow: 1;
    flex-flow: column;
    &__h2 {
      border-bottom: 1px solid hsl(0, 0%, 85%);
    }
    &__content {
      align-items: flex-start;
    }
    &__image {
      width: 6rem;
      object-fit: cover;
      object-position: bottom;
      aspect-ratio: 1;
    }
    &__text {
      flex-direction: column;
    }
    &__link {
      text-decoration: underline;
      color: hsl(188, 30%, 40%);
    }
  }
</style>
