---
//import layout
import Mainlayout from './MainLayout.astro';
import BlogHeader from "../components/BlogHeader.astro";

const { frontmatter } = Astro.props;
const {title, description, date, category, author, image} = frontmatter;
---

<Mainlayout title={title} {description}>
  <div class="wrapper-blog">
    <main class="entry-container">
      <BlogHeader 
        {title} {description} {date} {category} {author} {image}
      />
        <div class="entry">
          <slot />
        </div>
    </main>
    <aside class="aside">
      <h2 class="aside__h2">More posts</h2>
      <div class="aside__content">
        <img class="aside__image" src="/images/aside-hero1.jpg" alt="">
        <div class="aside__text">
          <p class="aside__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, totam.</p>
          <a class="aside__link" href="/">Link to another blog post</a>
        </div>
      </div>
    </aside>
  </div>
</Mainlayout>

<style lang="scss">
  .wrapper-blog {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0;
  }
  .header-blog{
    &__date,
    &__author {
      font-size: 1.1rem;
      font-weight: 600;
      color: hsl(150, 0%, 60%);
    }
  }
  .entry-container{
    padding: min(5vh, 2rem);
    flex-basis: 30em;
    flex-grow: 5;
  }
  .aside{ 
    flex-basis: 20em;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    &__h2{
      border-bottom: 1px solid hsl(0, 0%, 85%);
    }
    &__content,
    &__text {
      display: flex;
      gap: 1rem;
    }
    &__content{
      align-items: flex-start;
    }
    &__image{
      width: 10rem;
      object-fit: cover;
      object-position: bottom;
      aspect-ratio: 1;
    }
    &__text{
      flex-direction: column;
    }
    &__link{
      text-decoration: underline;
      color: hsl(188, 30%, 40%);
    }
  }
</style>
