---
import { slugify, formatDate } from '../js/utils';

const { title, date, category, author, image } = Astro.props;
---

<header class="header-blog">
  <a class="primary header-blog__link" href=`/category/${slugify(category)}/`>
    {slugify(category)}
  </a>
  <h1 class="header-blog__h1">{title}</h1>
  <div class="header-blog__division">
    <p class="header-blog__author">
      Written by <a class="" href=`/author/${slugify(author)}/`
        >{slugify(author)}</a
      >
      • {formatDate(date)}
    </p>
  </div>
</header>
<img class="blog-image" src={image.src} alt={image.alt} />
