---
// Layout imports
import Mainlayout from "../../layouts/MainLayout.astro";

// Components imports
import Main from "../../components/Main.astro";
import SectionEntry from "../../components/SectionEntry.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/Pagination.astro";

// utils
import { formatBlogPost } from "../../js/utils";

export async function getStaticPaths({paginate}){
  const allPosts = await Astro.glob("./*.md");
  const formattedPosts = formatBlogPost(allPosts);

  return paginate(formattedPosts,{
    pageSize: 3,
  });
}

const {page} = Astro.props;
console.log(page);

---

<Mainlayout title="Yefree's blog">
  <Main pageTitle="Blog Entries">
    <p class="main__p">
      Inspiring work and projects from all the resources I like to use to learn,
      from amazing designers, developers and programmers, along with all my
      thoughts and opinions.
    </p>
  </Main>
  <SectionEntry>
    {
      page.data.map((post) => (
        <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h2" />
        ))
      }
  </SectionEntry>
  <Pagination prevUrl={page.url.prev} nextUrl={page.url.next}/>
</Mainlayout>
